/*  your css code here. If applicable */
.header{
	padding:10px;
	text-align:center;
	font-size:20px;
	font-family:sans-serif;
	background-color:#011e29;
	color:white;
}
body{
	background-color:#f5f5f5;
}

.container{
	display:flex;
	justify-content:space-evenly;
}
.pictorial-news-section{
	background-color:white;
	padding:20px;
	margin:10px;
	border-radius:5px;
	text-align:center;
}
.latest-news-section{
	background-color:white;
	padding:10px;
	margin:10px auto;
	border-radius:8px;
	text-align:center;
	height:200px;
	font-family:sans-serif
}
.latest-news-section ul{
	text-align:center;
	width:150px;
	text-align:center;
}
.pictorial-news-section img{
	width:200px;
	margin:10px auto;
	align-items:center;
	border-radius:8px;
}

.main-article{
	background-color:white;
	padding:10px;
	margin:10px;
	border-radius:8px;
	text-align:center;
	height:250px;
	font-family:sans-serif
}

.main-article p{
	width:400px;
	padding:20px;
}
